<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>联系我们</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <!-- 通用 -->
    <link rel="stylesheet" type="text/css" href="css/global.css">
    <!-- style -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
      @media (max-width: 768px){
        body{
          font-family:PingFangSC-Light,helvetica neue,hiragino sans gb,arial,microsoft yahei ui,microsoft yahei,simsun,sans-serif;
          font-size: 14px;
          padding-bottom: 80px;
          padding-top: 50px;
        }
      }
    </style>
  </head>
  <body>
    <!-- banner -->
    <div class="watch-banner hidden-xs">
      <img src="images/banner.png">
      <div class="watch-banner-spirit">工匠精神 极致服务</div>
      <div class="watch-banner-repair">腕表维修 品质配件 直营保障 一年质保</div>
    </div>
    <!-- 专业团队 -->
    <div class="watch-team padding-mdLR0 hidden-xs">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-3 reset-width20 text-center">
            <img src="images/icon.png" alt="..." class="img-responsive">
            <div class="font-s16 color-three">专业团队</div>
            <div class="color-ash">原厂品质高级维修</div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-3 reset-width20 text-center">
            <img src="images/qc.png" alt="..." class="img-responsive">
            <div class="font-s16 color-three">质检标准</div>
            <div class="color-ash">杜绝任何遗漏故障</div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-3 reset-width20 text-center">
            <img src="images/character.png" alt="..." class="img-responsive">
              <div class="font-s16 color-three">品质配件</div>
              <div class="color-ash">高品质配件严格检验</div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-3 reset-width20 text-center">
            <img src="images/quality.png" alt="..." class="img-responsive">
              <div class="font-s16 color-three">一年质保</div>
              <div class="color-ash">原故障免费360天</div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-3 reset-width20 text-center">
            <img src="images/priceTransparency.png" alt="..." class="img-responsive">
              <div class="font-s16 color-three">价格透明</div>
              <div class="color-ash">维修费用公示</div>
          </div>
        </div>
      </div>
    </div>
    <!-- 线条 -->
    <div class="watch-border hidden-xs"></div>
    <!-- 联系我们 -->
    <div class="watch-contactus padding-top15 padding-bot15 padding-left20 watch-case">
      <div class="media">
        <div class="media-left media-middle">
          <a href="#">
            <img class="media-object" src="images/left.png" alt="...">
          </a>
        </div>
        <div class="media-body media-middle font-s18 padding-left20 color-three">联系方式</div>
      </div>
    </div>
    <!-- 线条 -->
    <div class="watch-border hidden-xs"></div>
    <!-- 内容 -->
    <div class="watch-contactus-cont">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 padding-top15">模板</div>
        </div>
      </div>
    </div>
    <!-- 底部菜单 -->
    <div class="watch-menu">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-3 col-sm-3 col-md-3 text-center">
            <a href="index.html">
              <img src="images/Wristwatch.png">
              <div class="font-s18 color-six padding-top8">腕表维修</div>
            </a>  
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3 text-center">
            <a href="ChargesNotes.html">
              <img src="images/rates.png">
              <div class="font-s18 color-six padding-top8">收费标准</div>
            </a>  
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3 text-center">
            <a href="WorkOrderDetails.html">
              <img src="images/guySingle.png">
              <div class="font-s18 color-six padding-top8">维修工单</div>
            </a>  
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3 text-center right-menu padding-0">
            <a href="javascript:;">
                <img src="images/customer2.png">
                <div class="font-s18 color-green padding-top8">客户中心</div>
            </a>
            <div class="right-sub-menu">
              <div class="media">
                <a href="#">
                  <div class="media-left media-middle">
                    <img class="media-object" src="images/contactus2.png" alt="...">
                  </div>
                  <div class="media-body media-middle color-green">联系我们</div>
                </a>  
              </div>
              <div class="media">
                <a href="HelpService.html">
                  <div class="media-left media-middle">
                    <img class="media-object" src="images/helpCustomers.png" alt="...">
                  </div>
                  <div class="media-body media-middle color-six">客户帮助</div>
                </a>  
              </div>
            </div>
          </div>
        </div>
      </div>   
    </div>
  </body>
  <!-- jq -->
  <script type="text/javascript" src="js/jquery-1.12.2.min.js"></script>
  <!-- bootstrap -->
  <script src="js/bootstrap.min.js"></script>
  <!-- style -->
  <script type="text/javascript" src="js/style.js"></script>
</html>